

/* Стили для контейнера новости */
.news-container {
    background-color: #f8f9fa; /* Цвет фона контейнера */
    padding: 20px; /* Внутренний отступ контейнера */
}

/* Стили для ячейки новости */
.news-item {
    background-color: #fff; /* Цвет фона ячейки */
    border: 1px solid #ddd; /* Граница ячейки */
    padding: 20px; /* Отступ внутри ячейки */
    border-radius: 5px; /* Скругление углов */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
}

/* Стили для заголовка новости */
.news-item h2 {
    font-size: 1.5rem; /* Размер шрифта заголовка */
    margin-bottom: 10px; /* Отступ снизу от заголовка */
    color: #333; /* Цвет текста заголовка */
}

/* Стили для изображения новости */
.news-item img {
    max-width: 100%; /* Максимальная ширина изображения в ячейке */
    height: auto; /* Автоматическая высота изображения */
    margin-bottom: 10px; /* Отступ снизу от изображения */
    border-radius: 5px; /* Скругление углов */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
}

/* Стили для описания новости */
.news-item p {
    margin-bottom: 10px; /* Отступ снизу от параграфа */
    color: #666; /* Цвет текста описания */
}
